Source: vdeplug4
Section: net
Priority: optional
Maintainer: Mattia Biondi <mattia.biondi3@studio.unibo.it>
Build-Depends: debhelper-compat (= 12), cmake (>= 3.13), libexecs-dev
Standards-Version: 4.1.3
Homepage: http://www.wiki.virtualsquare.org/
Vcs-Browser: https://github.com/rd235/vdeplug4
Vcs-Git: https://github.com/rd235/vdeplug4.git

Package: vdeplug4
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libvdeplug4 (= ${binary:Version})
Description: Virtual Distributed Ethernet. Plug your VM directly to the cloud.
 Designed to be connected to vde_switches. Like an ethernet plug, everything
 that is injected into it from standard input is sent into the vde_switch
 which it is connected to. On the other hand everything that comes from the
 virtual network to that plug goes to the vde_plug standard output.

Package: libvdeplug4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Virtual Distributed Ethernet - Plug library
 Designed to be connected to vde_switches. Like an ethernet plug, everything
 that is injected into it from standard input is sent into the vde_switch
 which it is connected to. On the other hand everything that comes from the
 virtual network to that plug goes to the vde_plug standard output.
 .
 This package contains a modular library and some utility tools that make
 programs able to connect to a local VDE switch.

Package: libvdeplug-dev
Section: libs
Architecture: any
Depends: ${misc:Depends}, libvdeplug4 (= ${binary:Version})
Description: Virtual Distributed Ethernet. Plug your VM directly to the cloud.
 Designed to be connected to vde_switches. Like an ethernet plug, everything
 that is injected into it from standard input is sent into the vde_switch
 which it is connected to. On the other hand everything that comes from the
 virtual network to that plug goes to the vde_plug standard output.
 .
 This package contains the development files for libvdeplug.
